.resale {
    padding-top: 80px;
    background-color: #F8FAFC;
    padding-bottom: 50px;
}

.resale__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 35px;
}

.switch__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.switch__btn img{
    max-width: 40px;
}

.switch__btn:hover {
    opacity: .8;
}

.resale__create-new {
    border: none;
    background: #4482B9;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    padding: 13px 19px;
    cursor: pointer;
}

.resale__create-new:hover{
    opacity: .8;
}

.resale__products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    justify-content: space-between;
}

.resale__list-item{
    grid-column-start: 1;
    grid-column-end: 4;
}
