@import '../../scss/_var.scss';

.my-message {
    display: flex;
    justify-content: end;
    margin-bottom: 4px;

    &__text {
        max-width: 250px;
        padding: 8px 10px 8px 10px;
        background-color: $accent-color;
        border-radius: 9px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #fff;
    }
}

.message {
    display: flex;
    justify-content: start;
    margin-bottom: 4px;

    &__text {
        max-width: 250px;
        padding: 8px 10px 8px 10px;
        background-color: #CBD5E1;
        border-radius: 9px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #000;
    }
}