.profile{
    max-width: 1190px;
    width: 100%;
}

.profile__photo {
    margin-right: 80px;
}

.profile__photo img {
    height: 120px;
    width: 120px;
    border-radius: 1000px;
}

.profile__info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.profile__name {
    margin-right: 80px;
    font-size: 18px;
    font-weight: 600;
    color: #52525B;
}

.profile__name .name {
    margin-bottom: 20px;
}

.main {
    width: 100%;
}

.profile__status {
    font-weight: 600;
    color: #52525B;
}


.profile__edit__label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #090914;
    margin-bottom: 8px;
}

.profile__edit__input {
    padding: 0 25px;
    margin-bottom: 10px;
}

.profile__edit__input[name='status'] {
    width: 500px;
}

.profile__edit__input[name='name'],
.profile__edit__input[name='login'] {
    width: 320px;
}

.profile__edit-btn {
    margin-top: 20px;
    display: block;
    padding: 8px 40px;
}


.profile__edit__btn-send-photo {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    margin-bottom: 35px;
    font-size: 15px;
}
