.events {
    padding-top: 80px;
}

.events__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.events__search-input {
    width: 760px;
    height: 45px;
    border: 1px solid #CBD5E1;
    border-radius: 12px;
    height: 45px;
    padding: 0 32px;
}

.events__search-input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AAAAAA;
}

.create__event-btn {
    border: none;
    background: #4482B9;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    padding: 8.5px 19px;
    cursor: pointer;
}

.create__event-btn:hover {
    opacity: .8;
    cursor: pointer;
}

.events__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    grid-gap: 70px;
    justify-content: center;
    margin-bottom: 80px;
}