.card {
    max-width: 350px;
    width: 100%;
    padding: 30px 45px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.card-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.card__photo{
    margin-bottom: 15px;
}

.card-descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    margin-bottom: 35px;
}

.card__open-btn {
    background: #1FAEE9;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: none;
    color: #FFFFFF;
    padding: 13px 85px;
}

.card__open-btn:hover{
    cursor: pointer;
    opacity: .8;
}

