.events {
    padding-top: 80px;
    padding-bottom: 45px;
}

.events__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.events__search-input {
    width: 760px;
}

.events__search-input::placeholder {
    color: #AAAAAA;
}

.create__event-btn {
    padding: 8.5px 19px;
}


.events__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    grid-gap: 70px;
    justify-content: center;
    margin-bottom: 80px;
}

.events__hello {
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
}

.events__hello-title {
    color: #4482B9;
    letter-spacing: -2px;
    margin-bottom: 18px;
}

.events__hello-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #52525B;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.events__not-exist{
    text-align: center;
    color: #4482B9;
    font-weight: 600;
    font-size: 42px;
    padding-top: 180px;
    padding-bottom: 320px;
}