.event {
    padding-top: 125px;
}

.event__inner-author {
    margin-right: 30px;
}

.event__inner-title {
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 52px;
    line-height: 58px;
    color: #4482B9;
    margin-bottom: 25px;
}

.event__inner-text,
.event__inner-date {
    font-size: 18px;
    line-height: 30px;
    color: #52525B;
}

.event__inner-text {
    margin-bottom: 40px;
}

.event__inner-date {
    font-weight: 600;
    color: #4482B9;
}

.event__inner-image img {
    width: 550px;
}

.event__inner {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.event__inner-info {
    max-width: 550px;
    width: 100%;
    margin-left: 20px;
}

.descr__edit-block,
.title__edit-block {
    display: none;
}

.title__edit-input,
.descr__edit-textarea {
    height: 45px;
    width: 700px;
    margin-right: 30px;
}

.edit__ok-btn {
    line-height: 16px;
    margin-left: 10px;
}

.edit__ok-btn {
    padding: 10px 20px;
}

.descr__edit-textarea {
    height: 200px;
}

.event__btn {
    display: flex;
    justify-content: end;
    margin-bottom: 45px;
}

.event__back-btn {
    padding: 13px 79px;
}

.event__edit{
    display: flex;
    justify-content: end;
    align-items: center;
}

.edit-btn {
    background-color: transparent;
    text-decoration-line: underline;
    color: #CBD5E1;
    padding: 10px 10px;
}

.edit-btn:hover{
    color: #4482B9;
}