@import  '../../scss/_var.scss';

.comments {
    margin-bottom: 40px;
    &__title {
        color: #000000;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
    }

    &__list-plug {
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        text-align: center;
    }

}

.comment {
    &__add {
        margin-top: 25px;
        position: relative;
        padding-bottom: 50px;
    }

    &__add-btn {
        padding: 13.5px 45px;
        display: flex;
        align-items: center;
        max-width: 210px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
