@import  '../../scss/_var.scss';

.comment {
    background: #FFFFFF;
    border: 1px solid #E4E4E7;
    border-radius: 9px;
    padding: 15px 20px;
    margin-bottom: 25px;

    &__info {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 10px;
        font-weight: 400;
    }

    &__info-name {
        margin-right: 30px;
    }

    & .comment__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }

    &__info {
        display: flex;
    }

    &__info-photo {
        margin-right: 10px;
    }

    &__info-photo img {
        border-radius: 50%;
        max-width: 25px;
    }

    &__user-status {
        font-size: 12px;
        color: #bbbbbb;
    }
}