.statistic {
    padding-top: 100px;
    padding-bottom: 45px;
    background-color: #F8FAFC;
}


.statistic__charts-bar,
.statistic__charts-line{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.statistic__charts-bar{
    margin-bottom: 25px;
}
