@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.header {
    height: 80px;
    background-color:transparent; 
    color: #1A1A1A;
    font-size: 16px;
    position: fixed;
}


.header__inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner-navigation{
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: 40px;
}

.menu li+li {
    margin-left: 30px;
}

.menu li:hover {
    cursor: pointer;
    opacity: 0.7;
}

.auth__btn {
    padding: 10px 24px;
}

.menu a {
    color: #52525B;
    font-size: 16px;
    font-weight: 600;
}