.dropdown__wrapper.active{
    background-color: #F8FAFC;
    padding: 20px 0;
    border-radius: 9px 9px 0 0;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.06), 0px 10px 15px rgba(0, 0, 0, 0.03);
}

.dropdown {
    display: none;
    background-color: #F8FAFC;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #52525B;
}

.dropdown.active {
    display: block;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    
}

.dropdown__toolbar {
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #52525B;
    display: flex;
    align-items: center;
}

.dropdown__name {
    margin-right: 15px;
}

.dropdown.active li {
    width: 190px;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown.active img{
    margin-left: 8px;
}

.dropdown.active li:hover {
    opacity: .8;
}