.footer{
    height: 100px;
    background-color: #1FAEE9;
}

.footer__inner{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.text{
    margin-left: 25px;
}