@import  '../../scss/_var.scss';

.hr__line{
    max-width: 1300px;
    border: 0.5px solid $accent_color;
    margin-bottom: 20px;
}

.auth__copyright{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
