.hr__line{
    max-width: 1300px;
    border: 0.5px solid #4482B9;
    margin-bottom: 20px;
}

.auth__copyright{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
